* {
	box-sizing: border-box;

	&::after,
	&::before {
		box-sizing: border-box;
	}
}

$color-black: #000;
$color-white: #fff;
$color-grey: #ccc;
$color-red: #da1f27;
$color-grey-900: #333;
$color-grey-200: #eee;
$color-green: #ccffde;
$color-yellow: #ffc;
$space: 20px;

body {
	background: $color-grey;
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	max-height: 99999px;

	a {
		color: $color-black;
	}

	a:hover,
	a:focus {
		color: $color-red;
	}
}

.container {
	min-width: 320px;
	width: 86%;
	max-width: 1000px;
	margin: $space auto;
}

.data {
	width: 100%;

	strong {
		font-weight: 700;
	}

	th,
	.data-label {
		font-weight: 700;
		padding: 10px;
	}

	th {
		display: none;

		strong {
			display: block;
			background: $color-black;
			color: $color-white;
			font-size: 12px;
			padding: 4px;
		}

		img {
			width: 258px;
			display: block;
			margin: 0 auto 5px;
		}
	}

	tr,
	td {
		display: block;
	}

	th,
	td {
		vertical-align: top;
	}

	.data-cell {
		cursor: pointer;
	}

	.data-cell,
	.data-cell-alt {
		background-color: $color-white;
		border: 1px solid $color-grey-900;

		&:nth-child(odd) {
			background: $color-grey-200;
		}
	}

	.translation {
		display: none;
		padding: 10px;
	}

	%block {
		display: block;
		padding: 10px;
	}

	.english {
		@extend %block;

		strong[data-details] {
			position: relative;
			display: inline-block;
			border-radius: 5px;
			border: 1px dashed $color-red;

			&::before {
				display: none;
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 100%;
				left: 0;
				content: attr(data-details);
				background-color: $color-grey;
				padding: 4px;
				border-radius: 5px;
				border: 1px solid $color-green;
				font-size: 9px;
			}

			&:hover::before {
				display: block;
			}
		}
	}

	.pattern {
		@extend %block;
	}

	.data-cell.show {
		background: $color-green;

		.english {
			background: $color-yellow;
		}

		.translation {
			display: block;
		}
	}

	@media (min-width: 768px) {
		tr {
			display: table-row;
		}

		td {
			display: table-cell;
		}

		th,
		.data-label {
			display: table-cell;
		}
	}
}

.button {
	position: fixed;
	cursor: pointer;
	right: $space;
	top: $space;
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size: 20px;
}
